# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Airflow logs
airflow/logs/
logs/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Local database / temp files
*.sqlite
*.db

# Build / distribution
build/
dist/
*.egg-info/